@font-face {
  font-family: "digital-7";
  src: url('assets/digital-7_mono_italic-webfont.eot');
  src: url('assets/digital-7_mono_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/digital-7_mono_italic-webfont.woff') format('woff'),
       url('assets/digital-7_mono_italic-webfont.ttf') format('truetype'),
       url('assets/digital-7_mono_italic-webfont.svg#digital-7_monomono') format('svg');
  font-weight: normal;
  font-style: italic;
}
